#{extends 'main.html' /}
#{set title:'Register' /}

<h1>Register</h1>

#{form @saveUser()}
    #{field 'user.username'}
        <p class="${field.errorClass}">
            <strong>Username:</strong> <input type="text" name="${field.name}" size="16" value="${user?.username}"> *
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    #{field 'user.firstname'}
        <p class="${field.errorClass}">
            <strong>First Name:</strong> <input type="text" name="${field.name}" size="16" value="${user?.firstname}"> *
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    #{field 'user.lastname'}
        <p class="${field.errorClass}">
            <strong>Last Name:</strong> <input type="text" name="${field.name}" size="16" value="${user?.lastname}"> *
            <span class="error">${field.error}</span>
        </p>
    #{/field}
     #{field 'user.email'}
        <p class="${field.errorClass}">
            <strong>email:</strong> <input type="text" name="${field.name}" size="16" value="${user?.email}"> *
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    #{field 'user.password'}
        <p class="${field.errorClass}">
            <strong>Password:</strong> <input type="password" name="${field.name}" size="16" value="${user?.password}"> *
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    #{field 'verifyPassword'}
        <p class="${field.errorClass}">
            <strong>Verify password:</strong> <input type="password" name="${field.name}" size="16" value="${verifyPassword}"> *
            <span class="error">${field.error}</span>
        </p>
    #{/field}    
    <p class="buttons">
        <input type="submit" value="Register"> <a href="@{index()}">Cancel</a>    
    </p>
#{/form}